* {
    box-sizing: border-box;
  }
  body {
    margin: 50px 0 0;
    text-align: center;
    font-family: sans-serif;
  }

  .sub-category-autocomplete-wrapper {
    width: 700px;
    position: relative;
    display: inline-block;
  }
  .sub-category-autocomplete-wrapper > div {
    width: 100%;
  }
  .sub-category-autocomplete-wrapper input {
    border: 1px solid #cecece;
    padding: 12px 15px;
    font-size: 14px;
    width: 100%;
  }
  .sub-category-autocomplete-wrapper input:focus {
    border-color: gray;
    box-shadow: none;
    outline: none;
  }
  .sub-category-autocomplete-wrapper .sub-category-dropdown {
    width: 100%;
    padding: 0;
    text-align: left;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid black;
    border-top: none;
    color: #111;
  }
  .sub-category-autocomplete-wrapper .sub-category-dropdown a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #111;
  }
  .sub-category-autocomplete-wrapper.sub-category-item:hover a {
    color: #111;
  }
  .sub-category-autocomplete-wrapper .sub-category-item {
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 15px;
    color: #111;
  }
  .sub-category-autocomplete-wrapper .sub-category-item.sub-selected-item {
    background-color: gray;
    color: #f1f1f1;
  }
  .sub-category-autocomplete-wrapper .sub-category-item:hover {
    background-color: #87CEEB;
    color: #f1f1f1;
  }
  #btn-container {
    margin: 10px;
  }
  .sub-category-title {
    font-size: 1.5rem;
  }
  
  button.btn-hover:hover {
    cursor: not-allowed;
  }


  @media(max-width: 767px) {
    #sub-input-category {
      width: 100px;
    }
    .sub-category-autocomplete-wrapper {
      width: 350px;
    }
}

  
